.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.editor__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editor__title {
  width: 100px;
  position: absolute;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 300;
  color: var(--purple);
  opacity: 0.6;
}

.editor__title--input {
  top: 245px;
  left: 88%;
}

.editor__title--output {
  top: 550px;
  left: 88%;
}

.editor__link {
  position: absolute;
  color: var(--light-color);
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.editor__link-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--light-color);
}

.editor__link--cancel {
  top: 15px;
  left: 10px;
  color: var(--red);
  padding: 0;
}

.editor__link--change {
  top: 266px;
  left: 50%;
  background-color: var(--dark-blue);
  transform: translateX(-50%);
  color: var(--pink);
  padding: 12px;
  border-radius: 50%;
}

.editor__link--save {
  top: 12px;
  right: 10px;
  color: var(--blue);
  padding: 0;
}

.editor__btn {
  position: absolute;
  background-color: transparent;
  color: var(--purple);
  border: none;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.editor__btn--language {
  top: 21px;
  bottom: initial;
  border-radius: 5px;
  border: 1px solid var(--purple);
  padding: 4px 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
