.card {
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  border-radius: 20px;
  font-size: 22px;
  font-weight: 500;
  font-family: inherit;
  overflow: hidden;
  border: var(--purple) 2px solid;
}

@media (max-width: 450px) {
  .card {
    width: 350px;
  }
}
